export DB_TEST_NAME=
export DB_TEST_USER=
export DB_TEST_PASSWORD=
export DB_TEST_CONN_STR=

export DB_INTEGRATION_NAME=
export DB_INTEGRATION_USER=
export DB_INTEGRATION_PASSWORD=
export DB_INTEGRATION_CONN_STR=
